body{
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    
}
.page1{
    background:url("./Assets/backgrounds/landing.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    height:max-content;

}
.Menubar{
    display:block;
    margin:49.4px 0px 0px 100px;
    height:100px;
    width:60px;
    border:2px;
    color:white;
}
.Menubar > div{
    height:3px;
    background-color:white;
    margin:5px 0;
    border-radius:5px;
    padding:2px;
}
#menuimage{
    display:flex;
    justify-content: center;

}
#logotext{
    text-align:center;
    font-size:xx-large;
    padding:20px 20px 20px 20px;
    color:white;
}
.timetable{
    background-size:cover;
    position:relative;
}
.timetable > #foodtop > .list > .happy{
    border:1px solid gold;
    width:500px;
    height:106px;
    text-align:center;
    font-size:xx-large;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
}
.timetable > #foodtop >.list > .party{
    border:1px solid #F15A29;
    width:500px;
    height:104px;
    list-style:none;
    text-align:center;
    font-size:xx-large;
    background-color:#F15A29;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    box-sizing: border-box;

}
.timetable > #foodtop >.breakfast{
    position:relative;
    text-align:center;
}
.timetable > #foodtop >.breakfast > .breakfasttext{
    position:absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:xx-large;
    font-style: italic;
}
.timetable > #foodtop > .lunch{
    position:relative;
    text-align:center;
}
.timetable > #foodtop > .lunch >.lunchtext{
    position:absolute;
    text-align:center;
    top: 48.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:xx-large;
    font-style: italic;
    background-color: grey;
    width:100%;
    height:97.9%;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity:0.5;

}
.timetable > #foodtop > .dinner{
    position:relative;
    text-align:center;
}
.timetable > #foodtop > .dinner > .dinnertext{
    position:absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:xx-large;
    font-style: italic;
}
.list{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:left;
    width:100%;
    margin-bottom:0;
    margin-left:0;
    padding-left:0;
    
}
#foodtop{
    display:flex;
    flex-direction:row;
}
.page2{
    background-color:white;
    display:flex;
    flex-flow:column;
}
.Fastfood{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
}
.Fastfood> .dessert{
    display:flex;
    flex-direction:column;
    width:fit-content;
    height:fit-content;
    border:2px solid white;
    padding:25px;
    margin:0;
    box-shadow:0px 0px 4px 3px grey;
}
.Fastfood> .description{
    border:2px solid white;
    width:fit-content;
    padding:20px;
    text-align:left;
    align-items:left;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size:x-large;
}
.Fastfood > .description > .viewgallery{
    border:2px solid #F15A29;
    width:200px;
    height:fit-content;
    padding:3px;
    border-radius:10px;
    background-color:white;
    text-align:center;
}
.Drinks{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    float:right;
}
.Drinks > .cocktail{
    display:flex;
    flex-direction:row;
    width:fit-content;
    height:fit-content;
    border:2px solid white;
    padding:25px;
    margin:0;
    box-shadow:0px 0px 4px 3px grey;
}
.Drinks > .drinkscription{
    border:2px solid white;
    width:fit-content;
    padding:20px;
    text-align:right;
    align-items:right;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:x-large;
}
.Drinks > .drinkscription > .drinkgallery{
    position:relative;
    border:2px solid #F15A29;
    width:200px;
    height:fit-content;
    padding:3px;
    border-radius:10px;
    background-color:white;
    text-align:center;
    left:270px;
}
.page3{
    align-items:center;
}
.page3> .foodmenu{
    position:relative;
    background:url("./Assets/backgrounds/foodsBg.jpg");
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:max-content;
    padding:200px 20px 200px 20px;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid gold;
    margin-left:auto;
    margin-right:auto;
}
.page3 > .foodmenu > .menulist{
    background-color:white;
    width:75%;
    height:50%;
}
.page3 > .foodmenu > .menulist >.foodgallery{
    border:1px solid black;
    height:20%;
    display:flex;
    justify-content:space-around;
    align-items:left;
    font-size:xx-large;
    text-align:center;
}
.page3 > .foodmenu > .menulist >.foodgallery> .FFood{
    height:100%;
    width:100%;
    font-weight:700;
    color:#F15A29;
    border:transparent;
}
.page3 > .foodmenu > .menulist >.foodgallery> .menudrinks{
    border:1px solid black;
    height:100%;
    width:100%;
    background-color:grey;
    opacity:0.6;
    color:black;
    font-weight:700;
}
.page3 > .foodmenu > .menulist >.foodgallery> .chicken{
    border:1px solid black;
    height:100%;
    width:100%;
    background-color:grey;
    opacity:0.6;
    color:black;
    font-weight:700;
}
.page3 > .foodmenu > .menulist >.foodgallery> .rice{
    border:1px solid black;
    height:100%;
    width:100%;
    background-color:grey;
    opacity:0.6;
    color:black;
    font-weight:700;
}
.page3 > .foodmenu > .menulist >.junkfood{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:79%;
    border:transparent;
    padding:60px 20px 20px 20px;
}
.page3 > .foodmenu > .menulist >.junkfood > .left{
    font-size:xx-large;
    font-weight:bolder;
    color:#F15A29;
}
.page3 > .foodmenu > .menulist >.junkfood > .right{
    font-size:xx-large;
    font-weight:bolder;
    color:#F15A29;
}
.page3 > .foodmenu > .menulist >.junkfood > .chickenburger{
    text-align:center;
    font-size:x-large;
    color:#F15A29;
}
.page3 > .foodmenu > .menulist >.junkfood > .beefburger{
    text-align:center;
    font-size:x-large;
    color:#F15A29;
}
.page3 > .foodmenu > .menulist >.junkfood > .chickenpizza{
    text-align: center;
    font-size:x-large;
    color:#F15A29;
}
.page3-5{
    /* border:2px solid black;
    height:100px;
    align-items:center; */
}
.page3-5 > .clientelle{
    position:relative;
    border:2px solid blue;
    height:500px;
    width:100%;
    display:flex;
    justify-content:center;
    margin:20px auto;
    align-self:center;
    padding:20px 20px 20px 20px;
}
.page3-5 > .clientelle > .humans{
    background-color:white;
    height:60%;
    width:75%;
    background-position:center;
    position:relative;
    align-self:center;
    box-shadow:0px 0px 4px 3px grey;
    display:flex;
}
.page3-5 > .clientelle > .humans > .customers{
    border:2px solid white;
    width:60%;
    height:98%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.page3-5 > .clientelle > .humans > .customers >.clients {
    text-align:center;
    font-size:large;
}
.page3-5 > .clientelle > .humans > .customers > .clientprofiles{
    display:inline-flex;
    justify-content:space-around;
    width:60%;
}
.page3-5 > .clientelle > .humans > .menudetails{
    border-left:2px dashed grey;
    width:50%;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:x-large;

}
.clientheader , .menutitle{
    color:#F15A29
}
.left1,.right1{
    color:#F15A29;
}
.page4{
    align-items: center;
    border: 2px solid green;
    position:absolute;
    height:606px;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.tomatoes{
    width:100%;
    height:100%;
}
.subscribe{
    border:2px solid #F15A29 ;
    width:90.1%;
    height:301px;
    background-color:#F15A29;
}
.page4background{
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.tomatoimg{
    background:url("./Assets/backgrounds/subscribe.jpg");
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
    height:301px;
    position:relative;
    display:flex;
    justify-content: center;
    color:white;  
    align-items: center;
}
.email{
    font-size:xx-large;
    font-weight:bolder
}
.emailbox{
    display:flex;
    justify-content: space-around;
}
.youremail{
    border:2px solid white;
    width:350px;
    height:fit-content;
    background-color: grey;
    opacity:0.4;
    font-weight:bold;
    border-radius: 7px;
    font-size:large;
}
.emailsubscribe{
    border:2px solid white;
    width:150px;
    height:fit-content;
    background-color:#F15A29;
    text-align:center;
    border-radius: 7px;
    font-size:large;
    font-weight:bold;
}